.detail {
  &__image-container,
  &__image-container image {
    box-sizing: border-box;
    width: 100%;
  }

  &__image-container {
    padding: 30px;
  }

  &__image-container image {
    border-radius: 20px;
  }

  &__title {
    display: inline-block;
    padding: 0 30px;
    font-size: 36px;
    font-weight: bold;
  }

  &__info-list-container {
    margin 30px 30px 0;
    border-top: 1px solid #f6f6f6;
  }

  &__info-list {
    padding: 10px 0;
    margin: 0 -20px;
  }

  &__info {
    display: inline-block;
    margin: 10px;
  }

  &__info-icon {
    vertical-align: middle;
    color: #a7a6b3;
  }

  &__info-text {
    vertical-align: middle;
    font-size: 30px;
  }

  &__info-description-container {
    margin 0 30px;
    border-top: 1px solid #f6f6f6;
  }

  &__info-description-list {
    padding: 30px 0;
    margin: 0 -14px;
  }

  &__info-description {
    display: inline-block;
    vertical-align: top;
  }

  &__info-description-title {
    display: block;
    font-size: 30px;
  }

  &__info-description-hint {
    font-size: 24px;
    color: #a7a6b3;
  }
}