.account {
  padding: 20px;
  box-sizing: border-box;

  .at-list::after {
    content: none;
  }

  .item-content__info-title {
    font-size: 24px;
  }

  &__card {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px 0;
  }

  &__card-item {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &__card-icon {
    vertical-align: middle;
    padding: 10px;
  }

  &__card-text {
    vertical-align: middle;
    margin: 5px;
    font-size 24px;
  }

  &__list {
    margin: 30px auto;
  }

  &__achive-medals {
    margin: 30px auto;
  }

  &__achive-medals .at-row {
    text-align: center;
  }

  &__achive-medals-title {
    padding: 20px;
  }

  &__achive-medals-image {
    display: block;
    max-width 100%;
    height: auto;
  }
}