.search {
  &__item {
    padding: 30px 20px;
    box-sizing: border-box;
  }

  &__item-image-container {
    margin: 0 12px;
  }

  &__item-image {
    width: 20vw;
    height: 20vw;
    background-color: white;
  }

  &__item-summary {
    margin: 0 12px;
  }

  &__item-title {
    display: block;
    margin: 0 10px;
    font-size: 14PX;
    font-weight: bold;
    color: #363543;
  }

  &__item-description {
    margin: 0 10px;
    font-size: 12PX;
    color: #a7a6b3;
  }

  &__countdown {
    display: block;
    margin: 15px 10px;
    font-size: 16PX;
    font-weight: bolder;
    color: #363543;
  }

  &__item-button {
    margin: 6px 0;
    padding: 0 30px;
    border-color:  #4c84ff;
    background-color: #4c84ff;
  }
}